<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Session test</title>
</head>
<body>
    <h1> welcome to the signup page for session test</h1>
    <form action="/signup" method="POST">
        
        <label for="username">
            Username
            <input type="text" name="username" id="username" required>
        </label>
        <label for="password">
            Password
            <input type="password" name="password" id="password">
        </label>
        <label for="email">
            Email
            <input type="email" name="email" id="email">
        </label>
        <button type="submit" name="submit">Submit</button>
    </form>
</body>
</html>